@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #666666;
}

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  z-index: 10;
  position: sticky;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: 900;
}


.logo-div {
  display: flex;
  align-items: center;
  width: hug (186px);
  gap: 24px;
}

.logo {
  height: 50px;
  width: 50px;
}

.search-div {
  display: flex;
  align-items: center;
  width: 525px;
  height: Hug (36px);
  top: 22px;
  left: 493px;
  padding: 6px 10px 6px 10px;
  border-radius: 6px;
  border: 2px solid #D1D5DB;
  justify-content: space-between;

}

.search-input {
  color: white;
  background: transparent;
  border-style: none;
  width: 300px;
  height: 30px;
}

.search-input::placeholder {
  color: white;
}

.search-input:focus {
  outline: none;
}

.search-icon {
  height: 13px;
}

.signin-div {
  display: flex;
  align-items: center;
}

.signin-text {
  margin-right: 10px;
}

.menu-icon {
  height: 30px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  margin-top: -80px;
  padding-left: 80px;
  padding-right: 30px;
  color: rgb(255, 255, 255);
  font-weight: 700;
}


.hero-content {
  width: 35%;
  display: flex;
  flex-direction: column;
  z-index: 5;
  gap: 10px;
}

.hero-ratings {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 184px;
}

.overview {
  width: 100%;
}

.hero-nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-self: flex-end;
  font-size: larger;
}

.hero-nav span {
  cursor: pointer;
}

.active {
  color: #e11d48;
  font-size: larger;
}

.active::before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: #e11d48;
  margin-bottom: 6px;
  margin-right: 5px;
}

.Home {
  font-weight: 800;
}

.home-heading {
  display: flex;
  align-items: center;
  padding: 50px 140px 0px;
  justify-content: space-between;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding: 50px;
}

.card-link-container {
  text-decoration: none;
  color: black;
}

.card {
  
  width: 250px;
  height: 490px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.card-img {
  width: 100%;
  height: 370px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: flex-end;
}

.card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.movie-title {
  font-size: 18px;
  font-weight: 600;
  opacity: 0.8;
}

.see-more {
  color: #e11d48;
  text-decoration: none;
  cursor: pointer;
}

.see-more::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 3px;
  background-color: #e11d48;
  margin-bottom: 4px;
  margin-right: 5px;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding: 50px;
  width: 90%;
  height: fit-content;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  position: absolute;
  top: 80px;
  border-radius: 10px;
  background-color: white;
  z-index: 12;
}

.nav {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-details {
  display: flex;
}

.movie-details-nav {
  height: 95vh;
  max-width: px-to-rem(230px);
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  gap: 10px;
  font-weight: 800;
}

.movie-nav-links {
  width: 100%;
  /* margin-left: -30px; */
}


.movie-nav-link {
  height: 86px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.movie-nav-link-active {
  /* width: 100%; */
  /* margin-left: -30px; */
  height: 86px;
  color: #e11d48;
  border-right: 6px solid #e11d48;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  background-color: rgba(223, 27, 69, 0.1)
}

.quiz-button {
  width: 80%;
  height: 30px;
  background-color: rgba(225, 29, 72, 0.2);
  color: #e11d48;
  border: none;
  border-radius: 30px;
}

.quiz-card {
  width: 150px;
  height: 210px;
  border-radius: 20px;
  border: 1px solid rgba(225, 29, 72, 0.7);
  background-color: rgba(248, 231, 235, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movie-details-content {
  max-width: px-to-rem(1140px);
  width: 100%;
  display: flex;
  padding: 20px 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.first {
  width: 100%;
  height: 450px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second {
  width: 100%;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.movie-genre {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  padding: 1px 10px;
  color: #e11d48;
  margin-right: 5px;
}

.movie-details-bio {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bio {
  display: flex;
  align-items: center;
  gap: 5px;
}

.movie-details-ratings {
  display: flex;
  align-items: center;
  gap: 5px;
}

.movie-details-ratings span {
  display: flex;
  align-items: center;
}

.movie-details-description {
  width: 700px;
  display: flex;
  align-self: start;
}

.third{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 700;
}

.favorite {
  width: 30px;
  height: 30px;
  z-index: 15;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 15px;
}

.favorite-active {
  width: 30px;
  height: 30px;
  z-index: 15;
  position: absolute;
  background-color: #ee869d;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15px;
  top: 15px;
}

.favorite:hover {
  background-color: #ee869d;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 15;
}

.footer {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-first {
  display: flex;
  gap: 25px;
}

.footer-second {
  display: flex;
  gap: 25px;
}

.footer-icon:hover {
  scale: 1.2;
  cursor: pointer;
}

.footer-link:hover {
  color: #e11d48;
  cursor: pointer;
}

@media (max-width: 1080px) {
  .search-input {
    width: 100%;
  }

  .search-div {
    width: 350px;
  
  }

  .hero-content {
    width: 45%;
  }

  .home-heading {
    padding: 30px 20px 0px;
    gap: 10px;
    
  }

  .movie-details-bio {
    gap: 5px;
  }

  .movie-details-description {
    width: 100%;
    text-align: justify;
  }

  
}

@media (max-width: 920px) {
  .movie-details-nav {
    width: 50px;
    
  }

  .link-p {
    display: none;
  }
}

@media (max-width: 715px) {
  *{
    font-size: 13px;
  }
  .search-input {
    width: 100%;
  }

  .search-div {
    width: 200px;
    height: 15px;
  
  }

  .search-div-h2, .signin-text{
    display: none !important; 
  }

  .logo {
    width: 30px;
    height: 30px;
  }

  .logo-div {
    gap: 10px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 110vh;
    margin-top: -80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .hero-h1 {
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
  }

  .overview {
    text-align: justify;
  }

  .hero-content {
    width: 75%;
    height: 60vh;
    justify-content: center;
    align-items: center;
  }

  .hero-nav {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 20vh;
    gap: 30px;
  }

  .hero-ratings{
    width: 100%;
  }

  .home-heading {
    padding: 20px 20px;
    justify-content: space-between;
  }

  .home-h2 {
    font-size: 20px;
  }

  .card-container {
    padding: 20px;
  }

  .second {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
  }

  .movie-title {
    font-size: 25px;
  }

  .details-h4 {
    font-size: 15px;
  }

  .movie-details-bio {
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
  }

  .first {
    height: 200px;
  }

  .movie-details-content {
    padding: 20px;
  }
}